*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}


body{
    margin: 2rem;
}

/* /MAIN */
.container {

}
/* /HEADER */
.header{
    background-color: rgba(229, 121, 230, 1);
    height: 80px;
}


.rettangolo1{
    height: 300px; 
    background-color: rgba(225, 214, 122, 1);
margin-top: 20px;
}

.rettangolo2{
    background-color:rgba(171, 207, 231, 1) ;
    height: 90px;
    margin-top: 20px;
}

.rettangolo3{
    background-color:rgba(0, 134, 255, 1) ;
    height: 300px;
}


.colonna1{
    background-color: rgba(171, 207, 231, 1) ;
    width: 30px;
    float: left;
}
.colonna2{
    background-color: rgba(171, 207, 231, 1);
width: 30px;
float: left;
}
.colonna3{
    background-color: rgba(171, 207, 231, 1);
width: 30px;
float: left;
}

.sidebar{
    background-color: rgba(171, 207, 231, 1);
    height:200px ;
}


.copyright{
    background-color: rgba(136, 1, 254, 1);
    height: 70px;
    margin-top: 10px;
}