*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container::after{
    content: "";
    display: table;
    clear: both;
}

body{
    background-color: blue;
}

.header{
    background-color: rgba(229, 121, 230, 1);
    height: 100px;
}
